.todo-view{

    width: 60%;
    margin: 0 auto;
}
.serch-input{
    border: 1px solid darkgrey;
    border-radius: 8px;
    padding: 4px;
}

.header{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.list-view{
    background-color: #efefef;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;

}

.page-view{
    margin-top: 50px;
}